@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: hsl(360, 87%, 44%);
  --red-100: hsl(360, 87%, 10%);
  --red-200: hsl(360, 87%, 20%);
  --red-300: hsl(360, 87%, 30%);
  --red-400: hsl(360, 87%, 40%);
  --red-500: hsl(360, 87%, 50%);
  --red-600: hsl(360, 87%, 60%);
  --red-700: hsl(360, 87%, 70%);
  --red-800: hsl(360, 87%, 80%);
  --red-900: hsl(360, 87%, 90%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
